<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.community.bathroom.comn.file.mapper.CommonFileMapper">
    <insert id="insertCommonFile">
        INSERT INTO TN_COM_F001 (
        sys_id, file_grp_id, file_orgnl_nm, file_stre_nm, file_path, file_size, file_extsn, del_yn, frst_rgstr_id, frst_reg_dt
        ) VALUES (
        #{sysId}, #{fileGrpId}, #{fileOrgnlNm}, #{fileStreNm}, #{filePath}, #{fileSize}, #{fileExtsn}, 'N', #{userId}, NOW()
        )
    </insert>

    <select id="selectCommonFileList" resultType="map">
        SELECT file_sn AS "fileSn", file_grp_id AS "fileGrpId", file_orgnl_nm AS "fileOrgnlNm",
        file_size AS "fileSize", file_extsn AS "fileExtsn", frst_reg_dt AS "frstRegDt"
        FROM TN_COM_F001 WHERE sys_id = #{sysId} AND file_grp_id = #{fileGrpId} AND del_yn = 'N'
        ORDER BY file_sn DESC
    </select>

    <select id="selectFileBySn" resultType="map">
        SELECT file_orgnl_nm AS "fileOrgnlNm", file_path AS "filePath"
        FROM TN_COM_F001 WHERE file_sn = #{fileSn} AND del_yn = 'N'
    </select>

    <update id="logicalDeleteFile">
        UPDATE TN_COM_F001 SET del_yn = 'Y' WHERE file_sn = #{fileSn}
    </update>
</mapper>